<%= form_tag url, method: verb do %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>
   
      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    Item Name: <input type="text" name="name" value="<%= @food.name %>">
  </div>
  <div>
    Item Description: <input type="text" name="description" value="<%= @food.description %>">
  </div>
  <div>
    Item Price: <input type="text" name="price" value="$<%= @food.price %>">
  </div>
  <div>
    Item Category: 
    <select name='category'>
      <option value="Main Course">Main Course</option>
      <option value="Appetizer">Appetizer</option>
      <option value="Side">Side</option>
      <option value="Dessert">Dessert</option>
    </select>
  </div>
  <input type="submit" value="<%= message %>">
<% end %>