<!DOCTYPE html>
<html>
  <head>
    <title>LauriesFoodApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="app">
   <nav class="navbar navbar-inverse">
    <a href="/"><h2 class="navbar-text navbar-left">YA HUNGRY?</h2></a> 
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <% if @current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/food/new">Add Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
      <% end %>
    </ul>
    <button type="button" class="btn btn-default btn pull-right" >
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <a href="/yourshoppingcart">Your Cart</a>
    </button>
  </nav>
    <div class="container-fluid">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
